<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"></meta>
    <title>Register for an account</title>
</head>
<body>
<div class="content" style="margin-top: 50px;" layout:fragment="content">
    <h1>Register for an account</h1>
    <form name="f" action="#" th:action="@{/users/create}" th:object="${form}" method="post">
        <label>Username</label>
        <input type="text" th:field="*{username}" />
        <label>Email</label>
        <input type="text" th:field="*{email}"/>
        <label>Password</label>
        <input type="password" th:field="*{password}"/>
        <label>Confirm Password</label>
        <input type="password" th:field="*{passwordConfirmation}"/>
        <input type="submit" value="Register" />
    </form>
</div>
</body>
</html>