<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"></meta>
    <title>DashBoard Page Yo</title>
    <script th:src="@{/webjars/knockout/3.4.0/knockout.js}"></script>
    <!--<script th:src="@{/js/bookmarkViewModel.js}"></script>-->

    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div layout:fragment="content">
  <p th:text="${user.getUsername()}">Username</p>

  <!--<div id="bookmarks" th:each="bookmark : ${bookmarks}">
          <p th:text="${bookmark.getUrl()}">Bookmark URL</p>
          <p th:text="${bookmark.getDescription()}">Bookmark Description</p>
  </div>-->

    <div id="bookmarks">
        <ul data-bind="foreach: bookmarks, visible: bookmarks().length > 0">
            <li>
                <input data-bind="value: url" />
                <input data-bind="value: description" />
                <a data-bind="attr: { href: 'bookmark/' + id }">View</a>
            </li>
        </ul>
    </div>


  <div id="addBookmark">
      <form data-bind="submit: addBookmark">
          <p>Add Bookmark</p>
          <label>URL</label>
          <input data-bind="value: newBookmarkUrl" placeholder="Enter a URL" />
          <input data-bind="value: newBookmarkDescription" placeholder="Enter a description" />
          <button type="submit">Add Bookmark</button>
      </form>
  </div>
  <script type="text/javascript" th:inline="javascript">
      /*<![CDATA[*/

      function Bookmark(data) {
          this.id = ko.observable(data.id)
          this.url = ko.observable(data.url);
          this.description = ko.observable(data.description);
      }

      function BookmarkListViewModel() {
          // Data
          var self = this;
          self.bookmarks = ko.observableArray([]);
          self.newBookmarkUrl = ko.observable();
          self.newBookmarkDescription = ko.observable();

          // operations
          self.addBookmark = function() {
              console.log("adding a bookmark")
              console.log("new bookmark url: " + this.newBookmarkUrl());
              self.bookmarks.push(new Bookmark({url: this.newBookmarkUrl(), description: this.newBookmarkDescription()}));

              $.ajax(/*[+'/[[${user.getId()}]]'+]*/, {
                  data: ko.toJSON({url: self.newBookmarkUrl, description: self.newBookmarkDescription}),
                  type: "post", contentType: "application/json",
              }).fail(function() {
                  console.log("fail");
              });
          };

          $.getJSON(/*[+'/[[${user.getId()}]]'+]*/, function(allData) {
              var mapptedBookmarks = $.map(allData, function(bookmark) { return new Bookmark(bookmark)});
              self.bookmarks(mapptedBookmarks);
          });
      }

      ko.applyBindings(new BookmarkListViewModel());
      /*]]>*/
  </script>
</div>
</body>
</html>